[Unit]
Description=lametric openhab gateway bridges lametric and the openhab rest api in both directions.

[Service]
ExecStart=/usr/local/bin/node /home/pi/LametricOpenhabGW/app/src/index.js /etc/lametricopenhabgw/config.json
# Required on some systems
#WorkingDirectory=/opt/nodeserver
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=LametricOpenhabGW
User=pi
Group=pi
#Environment=NODE_ENV=production PORT=1337

[Install]
WantedBy=multi-user.target